* {
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #505033;
  --secondary-color: #264969;
  --accent1-color: #cfcfb4;
  --accent2-color: #b4cde4;
}

body {
  padding: 10px;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

/* Header */
header {
  background-color: var(--accent1-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px;
  margin-bottom: 10px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-a {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Figtree', sans-serif;
  padding: 10px 50px;
  border: 1px solid black;
}

/* Hero Section */
.hero {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../images/hero.jpg') center/cover;
  margin-bottom: 10px;
}

.title {
  color: white;
  margin: 50px;
}

/* Article */
article {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgba(180, 205, 228, 0.8);
  font-size: 30px;
  width: 1200px;
  padding: 20px 80px;
}

article img {
  width: 300px;
  margin-left: 20px;
}

/* History */
#history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 30px;
  margin-bottom: 10px;
}

#history h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 10px;
  color: var(--primary-color);
}

#history img {
  width: 400px;
  justify-self: center;
}

#history p {
  font-size: 30px;
}

/* Adventure */
#adventure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  padding: 0 80px 60px;
}

#adventure h2 {
  grid-column: 1 / -1;
  text-align: center;
  color: var(--primary-color);
}

#adventure img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#adventure figcaption {
  font-size: 20px;
}

/* Info */
#info {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

#info h2 {
  font-size: 35px;
}

#info div {
  display: flex;
  flex-direction: column;
}

#info p {
  margin: 10px 0;
}

/* Employees */
#employees {
  display: flex;
  justify-content: space-between;
  margin: 100px;
  padding: 0 50px;
}

#employees-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#employees img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin: 0px 50px;
}

#employees figcaption {
  text-align: center;
  font-size: 25px;
}

/* Form */
form {
  margin: 50px auto;
  width: 650px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent2-color);
  display: grid;
  gap: 1rem;
}

#user_info,
#questions {
  border: 1px solid var(--primary-color);
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  margin: 1rem;
}

#questions * {
  margin: 5px;
  display: flex;
}

.label_title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
}

legend {
  padding: 0.5rem;
  color: var(--primary-color);
  font-size: 1.3em;
  font-weight: 700;
}

label {
  text-align: right;
  padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--primary-color);
}

.form-item {
  display: grid;
  align-items: center;
}

.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}

.column2 {
  grid-template-columns: 1fr 2fr;
}

/* Footer */
footer {
  background-color: var(--accent1-color);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px;
}

footer p {
  align-self: center;
  justify-self: center;
  font-size: 20px;
  font-weight: 500;
}

footer nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer img {
  width: 50px;
  border-radius: 10px;
}

footer a {
  text-decoration: none;
}
